@import "~bootstrap/scss/bootstrap.scss";


#semaforo{
 background-color: black;
  width: 150px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  padding-top: 20px;
}
.ligth{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 10px;
    margin-left: 20px;
    opacity: .5;

&.red  {background-color: red}
&.yellow {background-color: yellow}
&.green {background-color: green}
&.selected {opacity: 1;}
}
